#calc-wrapper #calcFormResult {
  display: block;
  float: left;
}

#edit-calc-result-wrapper #edit-calc-result {
  height: 22px;
  width: 180px;
}

#calc-wrapper .calcFormItem {
  float: left;
  padding: 2px;
}

#calc-wrapper .calcFormItem input {
  width: 34px;
}

.clear_both {
  clear: both;
}
